body {
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
    user-select: none;
    display: flex;
    justify-content: center;
  }
  
   
  .site {
    align-items: center;
  
  }
  
  #superior {
    height: 250px;
    border-bottom: 2;
    text-align: center;
    margin-top: 2%;
    padding-bottom: 10%;
  }
  
  #botoes {
    border: 0;
    display: inline-block;
    margin: 1%;
    cursor: pointer;
    border-radius: 4px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: transparent;
    font-size: 20px;
    padding-top: 0 5%;
    transition: transform 200ms linear;
  }
  
  #botoes:hover {
    background-color: #b81c1c;
    transform: scale(1.08);
  }
  
  
  .titulos {
    color: white;
    text-align: center;
  }
  
  
  #barra{
    padding-top: 200px;
    height: 100px;

  }
  
  a {
    text-decoration: none;
    color: white;
  }


  #container{
margin: 0;
padding: 0;
box-sizing: border-box;

  }

  .input-group{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 8px 16px 8px 8px;
    border-radius: 24px;
    gap: 8px;

  }

  .input-icon{
    min-width: 32px;
    min-height: 32px;
    background-color: #b81c1c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

  }

  .input-field{
    width: 100%;
    border: none;
    background-color: transparent;
  }

  .input-field:focus{
    outline: none;
  }

  .items{
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
    margin-top: 12px;
    background-color: white;
    border-radius: 24px;
    padding: 14px;
    width: 350px;
    max-height: 521px;
    overflow-y: auto;
  }

  .item{
    display: flex;
    gap: 12px;
  }

  .item-image{
    width: 100px;
    height: 120px;
  }

  .item-image img{
    width: 100px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
  }

  .item-title{
    font-size: 18px;
    color: #b81c1c;
  }

  .item-subtitle{
    font-size: 12px;
    color: black;
  }

  .item-description{
    font-size: 14px;
    color: black;
  }

  #qtde{
    width: 34px;
   text-align: center;
  }

  #no_results{
    display: none;
    text-align: center;
    color: black;
  }

